.Slider-container{
    height: 500px;
    width: 100%;
    margin-bottom: 2rem;
}
.sliderimg{
    width: 100%;
    height: 400px;
    margin-right: 10rem;
    
}
.sliderimg img{
    width: 100%;
    height: 100%;
    
}